{% extends "blog/base.html" %}
{% load static %}
{% block body %}
    <div class="post">
        <h1>
            This website is my first serious try of Django. It has users, user profiles(profile is created right after
            registration) that allow user to set their own profile image and bio(description), users can create text posts
            (shown at Home), image posts(Images) and video posts(Videos). There are pages for each post(text/image/video) and
            each user that are different if user who looks at it is owner of post/user page(update for post and link to /profile/
            for user page). Profile link allows user to change their image/bio, username/email and accessible only for logged users,
            gets current user so one user can't see '/profile/' of other one. <br><br>
            Any post can be updated and deleted. There are pages for displaying all text/image/video posts, all users.

            <br><br><br>
            Home page, "/" <hr><br>
            <img height="576" width="1024" src="{% static 'screenshots/01.png' %}" alt=""><br><br>
            Post Creation Page, "/create" <hr><br>
            <img height="576" width="1024" src="{% static 'screenshots/02.png' %}" alt=""><br><br>
            Text Post Creation Page, "/post/new/" <hr><br>
            <img height="576" width="1024" src="{% static 'screenshots/03.png' %}" alt=""><br><br>
            All Users Page, "/all_users/" <hr><br>
            <img height="576" width="1024" src="{% static 'screenshots/04.png' %}" alt=""><br><br>
            Profile page, "/profile/" <hr><br>
            <img height="576" width="1024" src="{% static 'screenshots/05.png' %}" alt="">
        </h1>

    </div>
{% endblock body %}
