{% extends 'blog/base.html' %}
{% block body %}
    {% for i in users %}
        <div class="post">
            <div class="content-section">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ i.profile.image.url }}">
                    <div class="media-body">
                        <a href="{% url 'user-detail' i.id %}"><h2 class="account-heading">{{ i.username }}</h2></a>
                        <p class="text-secondary">{{ i.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}